* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
    background-color: #e7e7e7;
}

.navbar {
    position: sticky;
    top: 5px;
}

#home img {
    width: 100%;
}

.navbar ul {
    margin: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

.navbar a {
    text-decoration: none;
    background-color: #c5c5c5;
    width: 100px;
    padding: 40px;
}

.navbar a:hover {
    background-color: #e7e7e7;
}

section {
    margin: 20px auto;
    background: #EEE;
    border-radius: 10px;
    box-shadow: 0 0 15px #333;
    width: 90%;
    padding: 20px;
}